<div class="box">
    <h2>Izmena korisnika</h2>
<div class="tekst">
   <input type="text" id="korisnik" required="true" [(ngModel)]="korisnicko_ime"><br/>
   <label for="korisnik">Korisnicko ime</label>
</div>
<div class="tekst">
    <input type="password" id="lozinka" required="true" [(ngModel)]="lozinka"><br/>
    <label for="lozinka">Lozinka</label>
 </div>
 <div class="tekst">
    <input type="text" id="ime" required="true" [(ngModel)]="ime"><br/>
    <label for="ime_prezime">Ime</label>
 </div>
 <div class="tekst">
    <input type="text" id="prezime" required="true" [(ngModel)]="prezime"><br/>
    <label for="ime_prezime">Prezime</label>
 </div>
 <div class="tekst">
    <input type="text" id="adresa" required="true" [(ngModel)]="adresa"><br/>
    <label for="adresa">Adresa</label>
 </div>
 <div class="tekst">
    <input type="text" id="telefon" required="true" [(ngModel)]="telefon"><br/>
    <label for="telefon">Kontakt telefon</label>
 </div>
 <div class="tekst">
    <input type="email" id="imejl" required="true" [(ngModel)]="email"><br/>
    <label for="imejl">E-mail adresa</label>
 </div>
Slika:<input type="file"  (change)="onSelectFile($event)"><br/>
<button class="dugme" (click)="registracija()">Izmeni</button>
<output style="color:red">{{message}}</output>
</div>