body{
    margin:0;
    padding:0;
    background-size: cover;
    background-repeat: no-repeat;
}
.dugme{
    width:50%;
    margin-left:25%;
    margin-right:25%;
    font-size: medium;
}
.prijava{
    font-size: 40px;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
}
.tekst input{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    outline: none;
    border:none;
    border-bottom: 2px solid silver;
}
.tekst label{
    position: absolute;
    top:5px;
    transition: .5s;
    color:silver;
    pointer-events: none;

}
.tekst input:focus~label,.tekst input:valid~label{
    position: absolute;
    top:-12px;
    color:orange;
    font-size:12px;

}


.tekst input:focus,.tekst input:valid{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    outline: none;
    border:none;
    border-bottom: 2px solid orange !important;
}
.box{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:400px;
    padding:40px;
    background: white;
    box-sizing: border-box;
    transition: all 300ms ease-in-out;
}
.box h2{
    margin: 0 0 40px;
    padding: 0;
    color:orange;
    text-transform: uppercase;
    text-align: center;
}
.box div{
    position:relative;
}
.box input{
    padding:10 px 0;
    margin-bottom: 30px;
}
.box button{
    background-color:navy;
    border-color:navy;
    border-radius: 3px;
    color:white;
    text-transform: uppercase;
}